{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <main class="main">
        <div class="main_wrapper">
            <div class="main_header">
                <h1 class="main_title">Projects</h1>
                <div class="main_header_wrapper">
                    <a class="btn btn__primary" href="{{ path('app_project_new') }}">Create new</a>
                </div>
            </div>
            <div class="list">
            {% for project in projects %}
                <div class="project-card">
                    <div class="project-card_wrapper">
                        <h3 class="project-card_title">{{ project.title }}</h3>
                        {% if project.status == 'IDEA' %}
                            <small class="project-card_status text-green">{{ project.status|capitalize }}</small>
                        {% elseif project.status == 'IN_PROGRESS'%}
                            <small class="project-card_status text-yellow">{{ project.status|capitalize }}</small>
                        {% elseif project.status == 'FINISHED' %}
                            <small class="project-card_status text-red">{{ project.status|capitalize }}</small>
                        {% endif %}

                    </div>
                    <div class="project-card_actions">
                        <a class="btn btn__primary" href="{{ path('app_project_show', {id: project.id}) }}">show</a>
                    </div>
                </div>
            {% else %}
                <h3>No projects found</h3>
            {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
